<header class="container is-fluid py-3">
  <div class="logo">
    <img src="assets/gym-logo.png" alt="Studio GYM" />
    <span class="is-size-4">Studio Gym | Paths</span>
  </div>

  <!-- <nav class="is-flex is-gap-1 is-align-items-center">
    <button mat-flat-button class="nav-button active">Dashboard</button>
    <button mat-flat-button class="nav-button">Paths</button>
    <button mat-icon-button class="nav-button user-icon" aria-label="User button">
      <mat-icon>person</mat-icon>
    </button>
  </nav> -->

  <nav class="is-flex is-gap-1 is-align-items-center">
    <button mat-flat-button color="primary" class="nav-button active">Dashboard</button>
    <button mat-flat-button color="primary" class="nav-button">Paths</button>
    <button mat-icon-button class="nav-button user-icon" aria-label="User button">
      <mat-icon>person</mat-icon>
    </button>
  </nav>
</header>
