// Vendors
@use './styles/vendors/bulma';
@use './styles/vendors/material';

// Global
@use './styles/global/root';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
